#form435 {
  margin-top: 75px !important;
}

#form435 #header {
  display: none !important;
}

#form435  input.text {
  width: 100% !important;
  box-sizing: border-box !important;
}

.first-last > span {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
}

.first-last input.text{
  order: 2 !important;
}
.wufoo .info h2 {
  color: rgb(51, 51, 54) !important;
  line-height: 1.2 !important;
  font-size: 42px !important;
  font-weight: 800 !important;
}

.wufoo .info div {
  font-size: 120% !important;
}

.wufoo label.desc {
  font-size: 110% !important;
  font-weight: 600 !important;
  margin-bottom: 6px !important;
}

.wufoo li {
  margin-bottom: 25px !important;
}

.wufoo input.text {
  border: 1px solid #c9cacc !important;
  background: none !important;
  padding: 16.5px !important;
}

.wufoo select.select {
  border: 1px solid #c9cacc !important;
  background: none !important;
  padding: 17.5px 50px 17.5px 14px !important;
}

.wufoo textarea.textarea {
  border: 1px solid #c9cacc !important;
  background: none !important;
}

.wufoo #saveForm {
  color: #fff !important;
  background-color: #0a46e6 !important;
  text-decoration: none !important;
  border: none !important;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  max-width: 280px !important;
  padding: 14px 0 !important;
  width: 100% !important;
  cursor: pointer !important;
}

.wufoo #saveForm:hover {
  background-color: #032c99 !important;
}

.wufoo li.focused {
  background-color: transparent !important;
}

@media (min-width: 768px) {
  #form435 {
    max-width: 383px !important;
  }

  .wufoo .info h2 {
    margin-bottom: 2.2rem !important;
  }
}
