@tailwind base;
@tailwind components;
@tailwind utilities;
@import '/buttons.module.scss';
@import '/styles/required-styles.module.css';

@font-face {
  font-family: "DRUK Bold";
  src: local(''), url("/public/fonts/Druk-Bold-Web.woff2") format('woff2');
}

@font-face {
  font-family: "Graphik Medium";
  src: local(''), url("/public/fonts/Graphik-Medium-Web.woff2") format('woff2');
}

@font-face {
  font-family: "Graphik Regular";
  src: local(''), url("../public/fonts/Graphik-Regular-Web.woff2") format('woff2');
}

@font-face {
  font-family: "Graphik Semi-Bold";
  src: local(''), url("../public/fonts/Graphik-Semibold-Web.woff2") format('woff2');
}

@font-face {
  font-family: "Lyon-Display Bold";
  src: local(''), url("../public/fonts/LyonDisplay-Bold-Web.woff2") format('woff2');
}

@font-face {
  font-family: "Lyon-Display Regular";
  src: url("../public/fonts/LyonDisplay-Regular-Web.woff2") format('woff2');
}

@font-face {
  font-family: "Lyon-Display Italic";
  src: local(''), url("../public/fonts/LyonDisplay-RegularItalic-Web.woff2") format('woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
